<section class="py-3 bg-primary-8 d-none d-lg-block">
  <div class="container d-flex justify-content-between">
    <ul class="list-unstyled mb-0 d-flex gap-8 align-items-center">
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-intro' ? 'border-white ' : '' %>"
          href="project-intro.html"
          >專案介紹</a
        >
      </li>
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-breaking-news' ? 'border-white ' : '' %>"
          href="project-breaking-news.html"
          >最新消息</a
        >
      </li>
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-support-feedback' ? 'border-white ' : '' %>"
          href="project-support-feedback.html"
          >支持與回饋</a
        >
      </li>
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-QA' ? 'border-white ' : '' %>"
          href="project-QA.html"
          >常見問題</a
        >
      </li>
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-comments' ? 'border-white ' : '' %>"
          href="project-comments.html"
          >留言板</a
        >
      </li>
      <li>
        <a
          class="nav-link py-3 <%= page === 'project-information-disclosure' ? 'border-white ' : '' %>"
          href="project-information-disclosure.html"
          >資訊揭露與承諾</a
        >
      </li>
    </ul>
    <ul class="list-unstyled mb-0 d-flex gap-5 align-items-center">
      <li>
        <a
          class="p-3 border border-primary-4 rounded-circle heart-hover"
          href="#"
          ><span class="material-symbols-outlined text-white align-bottom">
            favorite
          </span></a
        >
      </li>
      <li>
        <a class="btn btn-primary py-3 fw-bolder" style="width: 188px" href="#"
          >立即贊助</a
        >
      </li>
    </ul>
  </div>
</section>
<!-- 專案介紹頁導覽列-手機版 -->
<section class="py-2 bg-primary-8 d-block d-lg-none">
  <div class="container d-flex">
    <div class="swiper project-intro-nav-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-intro' ? 'border-white ' : '' %>"
            href="project-intro.html"
            >專案介紹</a
          >
        </div>
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-breaking-news' ? 'border-white ' : '' %>"
            href="project-breaking-news.html"
            >最新消息</a
          >
        </div>
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-support-feedback' ? 'border-white ' : '' %>"
            href="project-support-feedback.html"
            >支持與回饋</a
          >
        </div>
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-QA' ? 'border-white ' : '' %>"
            href="project-QA.html"
            >常見問題</a
          >
        </div>
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-comments' ? 'border-white ' : '' %>"
            href="project-comments.html"
            >留言板</a
          >
        </div>
        <div class="swiper-slide w-auto">
          <a
            class="nav-link py-3 <%= page === 'project-information-disclosure' ? 'border-white ' : '' %>"
            href="project-information-disclosure.html"
            >資訊揭露與承諾</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 專案介紹頁導覽列-收藏和立即贊助-手機版 -->
<section
  class="py-5 px-3 bg-collect-support w-100 d-block d-lg-none position-fixed bottom-0 z-1"
>
  <div class="container">
    <ul
      class="list-unstyled mb-0 d-flex gap-2 gap-sm-3 align-items-center justify-content-center"
    >
      <li>
        <a
          class="p-3 border border-primary-4 rounded-circle heart-hover"
          href="#"
          ><span class="material-symbols-outlined text-white align-bottom">
            favorite
          </span></a
        >
      </li>
      <li>
        <a class="btn btn-primary py-3 fw-bolder" style="width: 285px" href="#"
          >立即贊助</a
        >
      </li>
    </ul>
  </div>
</section>
